.reactMarkDown p {
    font-family: "Neusa", serif;
    font-weight: 300 !important;
  }

  .reactMarkDown p strong {
      font-weight: 400;
  }

  .reactMarkDown li {
      font-weight: 300;
      list-style: initial;
  }

  .reactMarkDown a {
        color: #24a5d7;
        text-decoration: underline;
  }
