.section {
  margin-bottom: 5rem !important;
}

.pillarActive {
  width: 55% !important;
  background-color: var(--pillar-color);
  padding-right: 8% !important;
}

.pillarActive .button_pillar {
  color: #fff !important;
  background-color: transparent !important;
  border-color: #fff !important;
}
.pillarActive * {
  color: var(--white) !important;
}
.pillar_logo {
  opacity: 0;
}

.pillarActive .pillar_logo {
  opacity: 1;
}

.pillarShrink {
  padding-right: 2% !important;
}

#content_box {
  transform: translateX(100%);
}

.cursor {
  cursor: pointer;
}
.swiper-slide {
}
