.section {
  margin-bottom: 5rem !important;
}
.section_team {
  margin-bottom: 10rem !important;
}

.section2 {
  margin-bottom: 5rem !important;
}

.pillarActive {
   width: 55% !important; 
  background-color: var(--pillar-color)!important;
   padding-right: 8% !important; 
}

.pillarActiveDNLA {
  /* width: 40% !important; */
  background-color: var(--pillar-color);
  /* padding-right: 8% !important;  */
  color: white !important;
}

.pillarActive .button_pillar {
  color: #fff !important;
  background-color: transparent !important;
  border-color: #fff !important;
}


.pillarActive * {
  color: var(--white) !important;
}

.pillarActiveDNLA * {
  color: var(--white) !important;
}
.pillar_logo {
  opacity: 0;
}

.pillarActive .pillar_logo {
  opacity: 1;
}

.pillarShrink {
   padding-right: 2% !important; 
}

.pillarShrinkDNLA {
  /* padding-right: 1% !important; */
}

#content_box {
  transform: translateX(100%);
}

.cursor {
  cursor: pointer;
}

.swiper-slide {
  height: auto;
}


.is-loading{
  overflow-y: hidden;
}


.drop-button:hover +  #ddown{
  display:flex;
}

.drop-button.dropdown-content:hover{
  display:flex;
}

.drop-button.par{
  display:table;
  height: 100%;

  
  
}
.drop-button.par > *
{cursor: pointer;}
.drop-button.par >div{
display: table-cell;
vertical-align: middle;
}

#content_box{
  margin-top:3rem;
  @media(min-width:768px){
    margin-top:0;
  }
}

@media(min-width:768px){
  .section2 {
    margin-bottom: 15rem !important;
  }
}

@media (max-width:767px){
  .sectionMobile{
    margin-bottom:2rem;
  }
}